@media (max-width:1500px) {
    html {
        font-size: 16px !important;
    }
}
@media (max-width:1400px) {
    html {
        font-size: 16px !important;
    }
}
@media (max-width:1200px) {
    html {
        font-size: 15px !important;
    }
}
@media (max-width:992px) {
    html {
        font-size: 14px !important;
    }
    .hero {
        background-image: none;
    }
    .hero-content {
        padding: 50px 0 50px 50px;
        background-color: black;
    }
    .seethebike {
        background-color: white;
        color: black !important;
    }
}
@media (max-width:768px) {
    html {
        font-size: 13px !important;
    }
}
@media (max-width:576px) {
    html {
        font-size: 12px !important;
    }
    .hero-content {
        padding: 50px 15px;
        background-color: black;
    }
}