@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
:root {
    --black: #000;
    --white: #fff;
    --orange: #fa6600;
    --transition02: all 0.2s linear;
    --transition03: all 0.3s linear;
    --transition05: all 0.5s linear;
    --font-oswald: 'Oswald', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}
.font-oswald {
    font-family: var(--font-oswald);
}
.font-roboto {
    font-family: var(--font-roboto);
}
.black {
    color: var(--black);
}
.white {
    color: var(--white);
}
.orange {
    color: var(--orange);
}
.transition02 {
    transition: var(--transition02);
}
.transition03 {
    transition: var(--transition03);
}
.transition05 {
    transition: var(--transition05);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body, html {
    scroll-behavior: smooth;
    font-size: 16px;
}
#topbar {
    height: 3.125rem;
    background-color: var(--black);
    font-size: 13px;
    font-weight: 500;
}
#topbar .nav-link {
    color: var(--white) !important;
}
#topbar .nav-link:hover {
    text-decoration: underline;
}
#topbar .india-img {
    height: 13px;
    margin: 0 10px 0 0;
}
/* ====================================
< !-- HEADER START -- >
======================================= */
header {
    height: 64px;
}
.logo img {
    height: 3.125rem;
}
header .nav li a {
    height: 64px;
    padding: 0 10px;
    font-size: 17px;
}
header .nav li a {
    font-size: 16px;
    color: var(--black) !important;
}
header .nav li:hover {
    background-color: var(--black);
}
header .nav li:hover a {
    color: var(--white) !important;
}
.search {
    border: 0.1px solid black;
    border-radius: 3px;
    padding: 0.5rem 9.375rem 0.5rem 0.625rem;
}
.search i {
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
}
.search:hover i {
    color: #fa6600;
}
.signin {
    font-size: 0.938rem;
}
.signin:hover {
    color: #fa6600;
}
.signin:hover i {
    color: #fa6600;
}
.signin i {
    font-size: 20px;
    margin-bottom: -5px;
    color: var(--black);
    font-weight: 600;
}
.menu-control {
    font-size: 2.188rem;
    color: var(--black);
}
/* ====================================
< !-- HEADER END -- >
======================================= */
/* ====================================
< !-- SIGN IN BAR START -- >
======================================= */
.signin-bar {
    width: 30.25rem !important;
}
.signin-close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 40px;
}
.offcanvas-body {
    padding: 4rem 3.5rem 0;
}
.signin-bar .form-control {
    font-size: 18px;
}
.signin-bar p {
    font-size: 16px !important;
}
.signin-btn {
    border: 1px solid transparent;
    background-color: var(--orange);
    padding: 0.75rem 2.188rem;
}
.signin-btn:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
}
.create-acc:hover i {
    margin-left: .8rem;
    color: var(--orange);
}
/* ====================================
< !-- SIGN IN BAR END -- >
======================================= */
/* ====================================
< !-- SIGN UP BAR START -- >
======================================= */
.signup-bar {
    width: 30.25rem !important;
}
.offcanvas-body {
    padding: 4rem 3.5rem 0;
}
.signup-close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 40px;
}
.signup-bar .form-control {
    font-size: 18px;
}
.signup-btn {
    border: 1px solid transparent;
    background-color: var(--orange);
    padding: 0.75rem 2.188rem;
}
.signup-btn:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
}
/* ====================================
< !-- SIGN UP BAR END -- >
======================================= */
/* ====================================
< !-- HERO SECTION START -- >
======================================= */
.heroDesktop {
    height: 100dvh;
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.heroDesktop .hero-content {
    padding: 90px 1px 1px 100px;
}
.heroDesktop .hero-content h1 {
    font-size: 30px;
}
.heroDesktop .hero-content p {
    font-size: 16px;
}
.heroDesktop .seethebike {
    color: var(--white);
    background-color: var(--black);
    letter-spacing: 1px;
}
.heroMobile .hero-content {
    padding: 2.813rem 1px 2.813rem 3.125rem;
    background-color: var(--black);
}
.heroMobile .hero-content h1 {
    font-size: 2rem;
}
.heroMobile .hero-content p {
    font-size: 1.2rem;
}
.heroMobile .seethebike {
    background-color: var(--white);
    letter-spacing: 1px;
}
/* ====================================
< !-- HERO SECTION END -- >
======================================= */
/* ====================================
< !-- TOP LINKS  START -- >
======================================= */
.toplinks {
    padding: 32px 15px;
}
.toplinks a {
    font-size: 18px;
}
.toplinks a:hover {
    color: var(--orange);
}
/* ====================================
< !-- TOP LINKS  END -- >
======================================= */
/* ====================================
< !-- NEW-COLLECTION  START -- >
======================================= */
.new-collection {
    background-color: #eeeceb;
}
.section-heading {
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: .5px;
    padding-bottom: 10px;
    font-weight: 900;
}
.new-collection .content p {
    font-size: 17px;
    line-height: 1.4;
}
.new-collection .seethebike:hover i {
    color: var(--orange);
    margin-left: .5rem;
}
/* ====================================
< !-- NEW-COLLECTION  END -- >
======================================= */
/* ====================================
< !-- LIMITED-EDITION  START -- >
======================================= */
.limited-edition .content p:nth-child(3) {
    font-size: 17px;
    line-height: 1.4;
}
.hover01:hover {
    color: var(--orange);
}
.hover01:hover i {
    margin-left: .5rem;
}
/* ====================================
< !-- LIMITED-EDITION  END -- >
======================================= */
/* ====================================
< !-- ANNIVERSARY START -- >
======================================= */
.anniversary h2 {
    line-height: 1;
    font-size: 40px;
    font-weight: 900;
}
.anniversary p {
    font-size: 17px;
    line-height: 1.4;
}
.anniversary a {
    background-color: var(--orange);
    font-size: 20px;
    padding: 13px 30px;
}
.anniversary a {
    border: 2px solid transparent;
    background-color: var(--orange);
    font-size: 1.2rem;
    padding: 0.9rem 1.8rem;
}
.anniversary a:hover {
    color: var(--orange);
    background-color: var(--white);
}
/* ====================================
< !-- ANNIVERSARY END -- >
======================================= */